
</div>
<div class="footer-padding">
  <div class="footer">
    <a href="https://twitter.com/VishalSingh_13" target="blank"><i class="fab fa-twitter footer-i"></i></a>
    <a href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook-f footer-i"></i></a>
    <a href="https://www.instagram.com/" target="blank"><i class="fab fa-linkedin-in footer-i"></i></a>
    <a href="mailto:vishalsinghagr25@gmail.com" target="blank"><i class="fas fa-envelope footer-i"></i></a>
    <p class="footerpara">© Copyright 2025 Daily Journal</p>  
  </div>
</div>
</body>
</html>
